@model IEnumerable<NESS.Entrevisa.Agendamento.Models.AgendaModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paciente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Data)
    </td>
    <td>
        @if (item.Paciente == null)
        {
            @Html.ActionLink("Agendar", "Scheduling", new { id = item.ID })
        }
        else
        {
            @Html.DisplayFor(modelItem => item.Paciente.Nome)
        }
    </td>
    <td>
        @if (item.Paciente == null)
        {
            @Html.ActionLink("Edit", "Edit", new { id = item.ID })<span>&nbsp;|&nbsp;</span>
            @Html.ActionLink("Details", "Details", new { id = item.ID })<span>&nbsp;|&nbsp;</span>
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        }
        else
        {
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        }
    </td>
</tr>
}

</table>
